{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form action="{% url 'search_album' %}" method="GET">
                <div class="input-group input-group">
                    <input id="search-term" class="form-control form-control-lg" type="search" name="search_term" placeholder="Search for albums" aria-label="Search" list="albums">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p class="mt-2">Search results for: {{search_term}}</p>
        <div class="row">
            {% for album in results.albums.items  %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                        <a href="{% url 'album_review' album.id %}">
                            <img src="{{ album.images.0.url }}" class="card-img-top" alt="Album art image"></a>
                    <div class="card-body">
                        <h4 class="card-title">{{ album.name }}</h4>
                        <h5 class="card_title">{{ album.artists.0.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}