{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Login" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card border-light">
                <div class="card-body">
                    <h3 class="card-title">{% trans "Login" %}</h3>

                    <p class="card-text">{% trans "Welcome back to Tune Talk! Don't have an account? " %}<a class="link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>{% trans " here." %}</p>

                    <form class="login" id="login_form" method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <button class="btn btn-outline-primary btn-block mt-3" type="submit">
                            {% trans "Login" %} &raquo;
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
